

font-family: 'Road Rage', cursive;
letter-spacing: 10px;
    font-family: 'Road Rage', cursive;
    font-size: 115px;
    color: rgba(191, 37, 37, 1);

    font-family: 'Righteous', cursive;

    font-family: 'Roboto', sans-serif;

    .details_i{
        color: #22287c;;
        letter-spacing: 5px;
        padding-top: 1%;
        padding-left: 4%;
        padding-bottom: 4%;
    }
    .details_p{
        color: black;
        padding-left: 5%;
    }